nav
  ul.horizontal
    li
      a(href='/') Home
      ul.nested.vertical
        li
          a(href='/') Company
        li
          a(href='/') Memememememe
    li
      a(href='/') About
    li
      a(href='/') Contact
      ul.nested.vertical
        li
          a(href='/') Company
        li
          a(href='/') Private
        li
          a(href='/') Private &amp; Company

