!!! 5
html
  head
    meta(charset="UTF-8")
    title Express.js tryout || #{title}
    link(rel='stylesheet', type='text/css', href='/css/styles.css')
  body
    != partial('shared/usernav');

    header
      h1 Blog

    != body
